.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

  }
  
  .modal-content {
    background: #ebebeb;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    transform: translate(0% , -50%) scale(.7);
    animation: model .3s forwards;
    opacity: .1;
  }
  @keyframes model {
    to{
    transform: translate(0% , -0%);
    opacity: 1;
      
    }
}

  
  .modal-close {
    position: absolute;
    background-color: black;
    color: black;
    top: 40px;
    right: 40px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  